.background{
background-color:#e5e6e7c7;
    width: 400px;
    height: 615px;
text-align: left;
border-radius: 4px;
padding-left: 13px;
padding-top: 0.5px;
margin: auto;
padding-top: auto;
margin-top: 20px;
box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 
0px 8px 16px rgb(0 0 0 / 10%)

}


input{
    padding: 7px 7px ;
    font-size: 15px;
    width: 175px;
    height: 22px;
    border:1px solid #dddfe2;
    margin-bottom: 7px;
    margin-top:17px;
    border-radius: 5px;

}

div{
    display: block;
}

.second input{
    width:370px;

}

select{
    padding: 7px 7px;
    width: 110px;
    font-size: 15px;
    border-radius: 5px;
    height:40px;
    margin-right: 40px auto;
    border:1px solid #dddfe2;
    line-height: 20px;
    position: relative;
    
}

#cars{

   left: 125px;
   bottom: 75px;
}

#year{
    left: 140px;
    bottom: 75px;
}


p{
    color:#606770;
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: auto;
    margin-top: 1px;
}

#gender {
    
  bottom: 20px;
  
  width: 250px;
  margin-bottom: 4px;
bottom: 55px;

}

.all{

 bottom: 0;
 left: 0;
 position: fixed;
 right: 0;
 top: 0;
 
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;

}
span{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.Sign-Up a{
    text-decoration: none;
    padding: 10px 52px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(22, 143, 22, 0.842) ;
    color: white;
    border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top:auto;
margin-left: 105px;
 }

.disclaimer span{
    font-size: 12px;
    font-style: italic;

}

img{
    margin-left: 370px;
    position: absolute;
    z-index: 2;
    padding: 10px 1px;
}
